*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}

.container{
    padding: 30px 20px;
    width: 70%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input{
    width: 78%;
    height: 45px;
    border-radius: 20px;
    text-indent: 10px;
}
.btn{
    width: 150px;
    height: 45px;
    font-size: 15px;
    color: white;
    background-color: orangered;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px;
    margin-left: 20px;
}

.items{
    height: auto;
    /* padding-top: 15px; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.container h1{
    color: orangered;
    padding-top: 15px;
}
.items li{
    width: auto;
    height: auto;
    font-size: 16px;
    color: white;
    background-color: #ffcc00;
    border-radius: 20px;
    list-style: none;
    margin-top: 15px;
    padding: 5px 30px 10px 10px;
    overflow: hidden;
    position: relative;
}

span{
    display: block;
    height: auto;
    width: auto;
    padding: 0px 10px 10px 10px;
    position: absolute;
    right: 0px;
    top: 1px;
    font-size: 25px;
    font-weight: 600;
}
span:hover{
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
    .container{
        width: 100%;
    }


}

@media screen and (max-width: 700px){
   .container{
    width: 100%;
   }
   
    .input{
        width: 50%;
        height: 45px;
       
    }
}
